[user]
  name = nathanscott
  email = nathan@inspire9.com.au
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/nathan/.gitignore
[github]
	user = nathanscott

[branch "master"]
remote = origin
merge = master
